* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.not {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: white;
  text-align: center;
}


span {
  font-size: 1rem;
  margin-bottom: 20px;
}

.one {
  background-color: white;
  background-image: url(https://dl.dropbox.com/scl/fi/wfkgiyfy2ua5qqyonsp2x/Untitled-1.png?rlkey=h1spghcgge3jo2f5nf2q4m4o5&dl=0);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 34%;
  width: 95%;
  height: 50%;
  margin: 30px;
}

#Design {
  padding-top: 9%;
  padding-left: 140px;
  font-size: 3rem;
  font-weight: 100;
}

.two {
  color: rgb(222, 222, 222);
  text-align: left;
  padding: 0% 30%;
}

peet {
  color: rgba(255, 255, 255, 0.1);
}

#bag {
  text-align: center;
}

#car {
  text-align: center;
  margin-top: 9px;
}
